.search-form {
  padding: 1rem;
  background-color: aquamarine;
  margin-bottom: .3125rem
    /* 5/16 */
  ;
  border: 1px solid #e8ebef;

  &__group {
    .input-group-append {
      @media only screen and (max-width : 768px) {
        width: 100%;
      }
    }
  }

  &__input {
    padding: 1.5rem 0.5rem;
    border-radius: 0;

    @media only screen and (max-width : 768px) {
      margin-bottom: .3125rem
        /* 5/16 */
         !important;
      font-size: .875rem
        /* 14/16 */
      ;
    }

    &:focus {
      border-color: $green;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
      outline: 0 none;
    }
  }

  &__btn {
    background-color: $green;
    padding: 0.375rem 3.75rem;
    border-radius: 0;
    font-weight: 700;
    transition: 0s;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($green, 5%);
      box-shadow: none;
    }

    @media only screen and (max-width : 768px) {
      width: 100%;
    }

    svg {
      margin-right: .625rem
        /* 10/16 */
      ;
    }

    &.btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
      background-color: lighten($green, 5%);

      &:focus {
        border-color: $green;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.075);
        outline: 0 none;
      }
    }
  }
}