.pagination {
  justify-content: center;
  padding-top: 1rem;

  .page-item {
    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }

    &.active {
      .page-link {
        border-color:#e8ebef;
        background-color: $green;
        color: #ccc;

        &:focus {
          box-shadow: none;
        }
      }
    }

    &.disabled {
      .page-link {
        border-color: #e8ebef;
      }
    }
  }

  .page-link {
    padding: 0.7rem 1rem;
    margin-right: .3125rem /* 5/16 */;
    border-color: #e8ebef;
    color: $green;

    @media only screen and (max-width : 768px) {
      font-size: .875rem /* 14/16 */;
    }
  }
}