@import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'libs/bootstrap';

@import 'components/all';

body {
  background: $main-bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.min-width-15 {
  width: 15% !important;
}

.min-width-20 {
  width: 20% !important;
}

.main-results {
  span.cnt {
    font-weight: 700;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 700;
      color: $green;

      @media only screen and (max-width : 768px) {
        font-size: 1.5625rem
          /* 25/16 */
        ;
      }
    }

    p {
      margin: 0;

      span {
        font-weight: 700;
      }

      @media only screen and (max-width : 768px) {
        font-size: .875rem
          /* 14/16 */
        ;
      }
    }
  }

  &-table {
    display: flex;
    width: 100%;
    flex-flow: column;

    &-head {
      background-color: $green;
      padding: 1rem 0.5rem;

      @media only screen and (max-width : 768px) {
        display: none;
      }

      .row {
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      .cell {
        span {
          color: #ccc;
        }

        &.long {
          flex-grow: 1;
          width: 40%;
        }

        &.icon-cell {
          min-width: 3.6rem;
          max-width: 3.6rem;
          text-align: center;
        }

        .label {
          display: none;
        }
      }

      .head {
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    &-body {
      width: 100%;
      display: flex;
      flex-flow: column;

      a {
        margin: 0;
      }

      .row {
        flex-wrap: nowrap;
        padding: 1rem 0.5rem;
        background-color: #fff;
        text-decoration: none;
        border: 1px solid #e8ebef;
        justify-content: space-between;
        color: $black;
        z-index: 1;

        @media only screen and (max-width : 768px) {
          flex-flow: row wrap;
          margin: 0 0 1rem;
          box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
        }

        &:hover {
          background-color: #e9ecef;
          border: 1px solid $green;

          .cell {
            span {
              color: $black;
            }
          }
        }
      }

      .cell {
        @media only screen and (max-width : 768px) {
          width: 100% !important;
          vertical-align: top;
          font-size: .875rem
            /* 14/16 */
          ;
        }

        &.long {
          flex-grow: 1;
          width: 40%;
        }

        &.icon-cell {
          min-width: 3.6rem;
          text-align: center;

          @media only screen and (max-width : 768px) {
            min-width: 64%;
            text-align: left;
          }
        }

        .label {
          display: none;

          @media only screen and (max-width : 768px) {
            display: inline-block;
            width: 34%;
          }
        }

        span {
          @media only screen and (max-width : 768px) {
            width: 64%;
            text-align: left;
          }
        }
      }
    }
  }
}

.info-table {
  background-color: $green;
  margin: 0 .9375rem
    /* 15/16 */
  ;
  width: 100%;

  &-head {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    border: 1px solid #e8ebef;

    span {
      color: #ccc;

      @media only screen and (max-width : 768px) {
        font-size: .875rem
          /* 14/16 */
        ;
      }
    }
  }

  &-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;

    span {
      font-weight: 700;
      font-size: 2rem;
      color: $green;

      @media only screen and (max-width : 768px) {
        font-size: 1.5625rem
          /* 25/16 */
        ;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f9f9f9;

    a {
      font-size: 1.5rem;

      @media only screen and (max-width : 768px) {
        font-size: .875rem
          /* 14/16 */
        ;
      }
    }

    svg {
      vertical-align: middle;
      margin-right: .625rem
        /* 10/16 */
      ;
    }
  }

  &-row {
    display: flex;
    padding: 0.4rem 0.5rem;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #e8ebef;
    justify-content: space-between;
    color: #ccc;
  }

  &-column {
    width: 60%;
    padding-left: 1rem;

    @media only screen and (max-width : 768px) {
      font-size: .875rem
        /* 14/16 */
      ;
    }

    &.title {
      margin: 0 auto 0 0;
      width: 40%;
      padding-left: 0;
    }

    h4 {
      font-size: 1rem;
      font-weight: 700;
      margin: 0;

      @media only screen and (max-width : 768px) {
        font-size: .875rem
          /* 14/16 */
        ;
      }
    }

    p {
      margin: 0;
    }
  }

  a {
    padding: 0.8rem 0.5rem;
    color: $green;
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 5rem 5rem;
}

.error {
  text-align: center;
  background: #fff;
  border: 1px solid #e8ebef;
  padding: 1rem 0.5rem;

  @media only screen and (max-width : 768px) {
    font-size: .875rem
      /* 14/16 */
    ;
  }
}

.footer {
  padding: 1rem;
  flex-shrink: 0;

  p {
    text-align: center;
    font-size: .875rem /* 14/16 */;

    a {
      color: $green;
    }
  }
}